@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* rocket theme */
@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}

html {
	@apply scroll-smooth;
}

.bento-box {
	@apply card variant-ghost-surface p-8 hover:shadow-lg duration-200 text-center rounded-2xl;
}

.bento-heading {
	@apply font-black mb-4;
}

.disc-list {
	@apply list-disc list-inside;
}
